@{
    ViewBag.Title = "Maintain";
}

<div class="row">
    @Html.Partial("_Sidebar")
    <div class="col-sm-8 col-md-9">
        <h1>Gass App</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="panel pie-chart-widget">
            <div class="panel-heading text-center">
                <h5 class="text-uppercase">
                    <strong>Oil Changes</strong>
                </h5>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        60%
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="list-block">
                    <ul class="text-center">
                        <li>
                            Estimated Service
                            <h2>
                                Jan 22, 2015
                            </h2>
                        </li>
                        <li>
                            Next Service
                            <h2>
                                125,000 mi
                            </h2>
                        </li>
                    </ul>
                </div>
                <div class="btn-group btn-group-justified text-center text-uppercase">
                    <a class="btn btn-default">
                        <i class="fa fa-wrench fa-2x"></i>
                        <br />
                        <small>Add Oil Change</small>
                    </a>
                    <a class="btn btn-default">
                        <i class="fa fa-gear fa-2x"></i>
                        <br />
                        <small>Edit Intervals</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
